.checbox-label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  @include font(400, 12px, 14px);
  color: var(--title-text-color);
  margin-bottom: 30px;
  cursor: pointer;

  @media screen and(min-width:1200px) {
    @include font(400, 14px, 24px);
  }

  &::before {
    display: block;
    content: "";
    border: 2px solid var(--primary-text-color);
    border-radius: 2px;
    width: 16px;
    height: 15px;
    margin-right: 5px;
    transition: background-image 250ms --timing-function;

    .checkbox-input:checked + & {
      border: none;
      background-image: url(../images/icon\ check.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      border-color: var(--accent-color);
    }

    .checkbox-input:focus + & {
      border-color: var(--accent-color);
    }
  }
}

.checbox-label__link {
  color: var(--accent-color);
  text-decoration: underline;
}
